{% include "includes/inc_banner.html" %}
<div id="main">
    <div class='container'>
        <div class='row'>
            <div class='span12 page404'>
                <div class='big-title'>404 - Oops.</div>
                <div class='small-title'>Görünüşe göre olmayan bir sayfayı açmayı deniyorsun. <a href="/">Ana sayfaya dön</a>!</div>
                <div class='social-titles'>
                    <a href="https://facebook.com/pythonturkiye" class='facebook'> <i></i> {{r_facebook_like_count}}</a>
                    <a href="#" class='twitter'> <i></i> 64</a>
                    <a href="#" class='rss'> <i></i> 128</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/inc_footer.html" %}
