{% include "includes/inc_banner.html" %}
{% load main %}
<div id="main">
    <div class="container" style="min-height: 176px;">
        <div class="row">
            <div class="content span8 blog-style">
                <article class="category-showcase">
                    <div class="inner">
                        {% for at in authors %}
                                {% if forloop.counter0|divisibleby:2 %}
                                    <div class="categories">
                                {% endif %}
                                    <div class="half">
                                        <a href="#">
                                            <figure>
                                                <img src="{{ at.email|avatargetir }}" alt="">
                                            </figure>
                                            <div class="category-text">
                                                <h4>{{ at.first_name }} {{ at.last_name }}</h4>
                                                <div class="date">{{ at.username|userposts:1 }} Yazı</div>
                                            </div>
                                        </a>
                                    </div>
                            {% if forloop.counter0|divisibleby:2 == False %}
                                    </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </article>

                <div class="pagination">
                    <ul>
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>

            </div>

            {% include "includes/inc_right.html" %}
        </div>
    </div>
</div>
{% include "includes/inc_footer.html" %}
